:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --borderSize: 4px;


--accentColor: #0E374E;



}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #F3F4F6;
}

#root {
  /* border: var(--borderSize) solid palegreen; */
  background-color: #F3F4F6;
  width: 100vw;
  height: auto;
  min-width: 40rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

body {
  margin: 0px;
}



header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15%;
  justify-content: space-between;
  background-color: var(--accentColor);
  color:white;
}

header h2 {
  text-align: center;
  font-weight:700;
  font-size: 36px;
}

header ul {
  padding: 0rem;
display:grid;
grid-template-columns: repeat(3, 1fr);
}
header li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  width: auto;
}


.subSection {
  background-color: white;
  border-radius: 10px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.subSection h1 {
  justify-content: center;
  text-align:center;
  min-width: 20rem;
}

.subSection form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form button {
  align-self: center;
  justify-self:center;
  padding: 1.2rem;
  font-size:1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--accentColor);
}

form button:hover {
  cursor: pointer;
}

.formEntry {
  display: flex;
  flex-direction: column;
margin: 1rem;
}

.formEntry input {
  background-color: #F2F2F2;
  box-shadow: none;
  border: none;
  padding: .5rem;
  border-radius: 10px;
}


.contactInfo {
  /* border: var(--borderSize) solid purple; */
}

.education {
  /* border: var(--borderSize) solid orange; */
}

.experience {
  /* border: var(--borderSize) solid darkcyan; */
}

.resume {
  /* border: var(--borderSize) solid hotpink; */
  grid-column-start: 2;
  grid-row: 1;
  grid-row-end: 4;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;

}

.resumePage {
  /* border: var(--borderSize) solid black; */
  background-color: white;
  width: 850px;
  height: 1100px;
  display: flex;
  flex-direction:column;
  justify-content: centeflex-start;r;
  margin: 2rem 2rem 2rem 0rem;
}

.resumePage section {
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
}

.resumePage h3 {
  text-align:center;
  background-color: #F2F2F2;
  margin: 1rem 3rem;
}