:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --borderSize: 4px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #F3F4F6;
}

#root {
  /* border: var(--borderSize) solid palegreen; */
  background-color: #F3F4F6;
  width: 100vw;
  height: auto;
  min-width: 40rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

body {
  margin: 0px;
}


.subSection {
  background-color: white;
  border-radius: 10px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.subSection h1 {
  justify-content: center;
  text-align:center;
  min-width: 20rem;
}

.formEntry {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.formEntry input {
  background-color: #F2F2F2;
  box-shadow: none;
  border: none;
  padding: .5rem;
  border-radius: 10px;
}


.contactInfo {
  /* border: var(--borderSize) solid purple; */
}

.education {
  /* border: var(--borderSize) solid orange; */
}

.experience {
  /* border: var(--borderSize) solid darkcyan; */
}

.resume {
  /* border: var(--borderSize) solid hotpink; */
  grid-column-start: 2;
  grid-row: 1;
  grid-row-end: 4;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;

}

.resumePage {
  /* border: var(--borderSize) solid black; */
  background-color: white;
  width: 850px;
  height: 1100px;
  display: flex;
  justify-content: center;
  margin: 2rem 2rem 2rem 0rem;
}